<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.linlinjava.litemall.db.dao.T_FightObjectMapper">
  <resultMap id="BaseResultMap" type="org.linlinjava.litemall.db.domain.T_FightObject">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="life" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="mana" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="phy_attack" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="mag_attack" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="polar" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="speed" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="def" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="icon" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="daohang" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="pet_martial" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="skill" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="pet_tianshu" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="add_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="deleted" javaType="java.lang.Boolean" jdbcType="BIT" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, type, name, life, mana, phy_attack, mag_attack, polar, speed, def, icon, daohang, 
    pet_martial, skill, pet_tianshu, add_time, update_time, deleted
  </sql>
  <select id="selectByExample" parameterType="org.linlinjava.litemall.db.domain.T_FightObjectExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_fight_object
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_fight_object
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_fight_object
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.linlinjava.litemall.db.domain.T_FightObjectExample">
    delete from t_fight_object
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.linlinjava.litemall.db.domain.T_FightObject">
    insert into t_fight_object (id, type, name, 
      life, mana, phy_attack, 
      mag_attack, polar, speed, 
      def, icon, daohang, 
      pet_martial, skill, pet_tianshu, 
      add_time, update_time, deleted
      )
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{life,jdbcType=INTEGER}, #{mana,jdbcType=INTEGER}, #{phyAttack,jdbcType=INTEGER}, 
      #{magAttack,jdbcType=INTEGER}, #{polar,jdbcType=VARCHAR}, #{speed,jdbcType=INTEGER}, 
      #{def,jdbcType=INTEGER}, #{icon,jdbcType=INTEGER}, #{daohang,jdbcType=INTEGER}, 
      #{petMartial,jdbcType=INTEGER}, #{skill,jdbcType=VARCHAR}, #{petTianshu,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.linlinjava.litemall.db.domain.T_FightObject">
    insert into t_fight_object
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="life != null">
        life,
      </if>
      <if test="mana != null">
        mana,
      </if>
      <if test="phyAttack != null">
        phy_attack,
      </if>
      <if test="magAttack != null">
        mag_attack,
      </if>
      <if test="polar != null">
        polar,
      </if>
      <if test="speed != null">
        speed,
      </if>
      <if test="def != null">
        def,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="daohang != null">
        daohang,
      </if>
      <if test="petMartial != null">
        pet_martial,
      </if>
      <if test="skill != null">
        skill,
      </if>
      <if test="petTianshu != null">
        pet_tianshu,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="life != null">
        #{life,jdbcType=INTEGER},
      </if>
      <if test="mana != null">
        #{mana,jdbcType=INTEGER},
      </if>
      <if test="phyAttack != null">
        #{phyAttack,jdbcType=INTEGER},
      </if>
      <if test="magAttack != null">
        #{magAttack,jdbcType=INTEGER},
      </if>
      <if test="polar != null">
        #{polar,jdbcType=VARCHAR},
      </if>
      <if test="speed != null">
        #{speed,jdbcType=INTEGER},
      </if>
      <if test="def != null">
        #{def,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=INTEGER},
      </if>
      <if test="daohang != null">
        #{daohang,jdbcType=INTEGER},
      </if>
      <if test="petMartial != null">
        #{petMartial,jdbcType=INTEGER},
      </if>
      <if test="skill != null">
        #{skill,jdbcType=VARCHAR},
      </if>
      <if test="petTianshu != null">
        #{petTianshu,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.linlinjava.litemall.db.domain.T_FightObjectExample" resultType="java.lang.Long">
    select count(*) from t_fight_object
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_fight_object
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.life != null">
        life = #{record.life,jdbcType=INTEGER},
      </if>
      <if test="record.mana != null">
        mana = #{record.mana,jdbcType=INTEGER},
      </if>
      <if test="record.phyAttack != null">
        phy_attack = #{record.phyAttack,jdbcType=INTEGER},
      </if>
      <if test="record.magAttack != null">
        mag_attack = #{record.magAttack,jdbcType=INTEGER},
      </if>
      <if test="record.polar != null">
        polar = #{record.polar,jdbcType=VARCHAR},
      </if>
      <if test="record.speed != null">
        speed = #{record.speed,jdbcType=INTEGER},
      </if>
      <if test="record.def != null">
        def = #{record.def,jdbcType=INTEGER},
      </if>
      <if test="record.icon != null">
        icon = #{record.icon,jdbcType=INTEGER},
      </if>
      <if test="record.daohang != null">
        daohang = #{record.daohang,jdbcType=INTEGER},
      </if>
      <if test="record.petMartial != null">
        pet_martial = #{record.petMartial,jdbcType=INTEGER},
      </if>
      <if test="record.skill != null">
        skill = #{record.skill,jdbcType=VARCHAR},
      </if>
      <if test="record.petTianshu != null">
        pet_tianshu = #{record.petTianshu,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_fight_object
    set id = #{record.id,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      life = #{record.life,jdbcType=INTEGER},
      mana = #{record.mana,jdbcType=INTEGER},
      phy_attack = #{record.phyAttack,jdbcType=INTEGER},
      mag_attack = #{record.magAttack,jdbcType=INTEGER},
      polar = #{record.polar,jdbcType=VARCHAR},
      speed = #{record.speed,jdbcType=INTEGER},
      def = #{record.def,jdbcType=INTEGER},
      icon = #{record.icon,jdbcType=INTEGER},
      daohang = #{record.daohang,jdbcType=INTEGER},
      pet_martial = #{record.petMartial,jdbcType=INTEGER},
      skill = #{record.skill,jdbcType=VARCHAR},
      pet_tianshu = #{record.petTianshu,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      deleted = #{record.deleted,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.linlinjava.litemall.db.domain.T_FightObject">
    update t_fight_object
    <set>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="life != null">
        life = #{life,jdbcType=INTEGER},
      </if>
      <if test="mana != null">
        mana = #{mana,jdbcType=INTEGER},
      </if>
      <if test="phyAttack != null">
        phy_attack = #{phyAttack,jdbcType=INTEGER},
      </if>
      <if test="magAttack != null">
        mag_attack = #{magAttack,jdbcType=INTEGER},
      </if>
      <if test="polar != null">
        polar = #{polar,jdbcType=VARCHAR},
      </if>
      <if test="speed != null">
        speed = #{speed,jdbcType=INTEGER},
      </if>
      <if test="def != null">
        def = #{def,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=INTEGER},
      </if>
      <if test="daohang != null">
        daohang = #{daohang,jdbcType=INTEGER},
      </if>
      <if test="petMartial != null">
        pet_martial = #{petMartial,jdbcType=INTEGER},
      </if>
      <if test="skill != null">
        skill = #{skill,jdbcType=VARCHAR},
      </if>
      <if test="petTianshu != null">
        pet_tianshu = #{petTianshu,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.linlinjava.litemall.db.domain.T_FightObject">
    update t_fight_object
    set type = #{type,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      life = #{life,jdbcType=INTEGER},
      mana = #{mana,jdbcType=INTEGER},
      phy_attack = #{phyAttack,jdbcType=INTEGER},
      mag_attack = #{magAttack,jdbcType=INTEGER},
      polar = #{polar,jdbcType=VARCHAR},
      speed = #{speed,jdbcType=INTEGER},
      def = #{def,jdbcType=INTEGER},
      icon = #{icon,jdbcType=INTEGER},
      daohang = #{daohang,jdbcType=INTEGER},
      pet_martial = #{petMartial,jdbcType=INTEGER},
      skill = #{skill,jdbcType=VARCHAR},
      pet_tianshu = #{petTianshu,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>